/* ==========================================================
   OUTFLO — VISUAL SPACING TOKENS
   File: components/system/primitives/visuals/spacing/visual-spacing.tokens.css
   Scope: Canonical spacing and rhythm dial
   ========================================================== */

:root {
    --visual-spacing-0: 0;
    --visual-spacing-1: 2px;
    --visual-spacing-2: 4px;
    --visual-spacing-3: 6px;
    --visual-spacing-4: 8px;
    --visual-spacing-5: 12px;
    --visual-spacing-6: 16px;
    --visual-spacing-7: 20px;
    --visual-spacing-8: 24px;
    --visual-spacing-9: 32px;
    --visual-spacing-10: 48px;

    /* Color */

    --visual-shadow-color-0: transparent;

    --visual-shadow-color-1: color-mix(in srgb,
            var(--visual-shadow-color-source) 10%,
            transparent);

    --visual-shadow-color-2: color-mix(in srgb,
            var(--visual-shadow-color-source) 20%,
            transparent);

    --visual-shadow-color-3: color-mix(in srgb,
            var(--visual-shadow-color-source) 30%,
            transparent);

    --visual-shadow-color-4: color-mix(in srgb,
            var(--visual-shadow-color-source) 40%,
            transparent);

    --visual-shadow-color-5: color-mix(in srgb,
            var(--visual-shadow-color-source) 50%,
            transparent);

    --visual-shadow-color-6: color-mix(in srgb,
            var(--visual-shadow-color-source) 60%,
            transparent);

    --visual-shadow-color-7: color-mix(in srgb,
            var(--visual-shadow-color-source) 70%,
            transparent);

    --visual-shadow-color-8: color-mix(in srgb,
            var(--visual-shadow-color-source) 80%,
            transparent);

    --visual-shadow-color-9: color-mix(in srgb,
            var(--visual-shadow-color-source) 90%,
            transparent);

    --visual-shadow-color-10: var(--visual-shadow-color-source);


}